hardware/include/UARTsw_reg_gen.v
hardware/include/UARTsw_reg.vh
software/i2s_sw_reg.h
document/figures/bd.pdf
document/figures/bg.pdf
document/figures/datadelay_3.pdf
document/figures/fsync_w_2.pdf
document/figures/uart.pdf
document/figures/inverted_bclk.pdf
document/figures/inverted_fsync.pdf
document/figures/mo.pdf
document/figures/n_channel_3.pdf
document/figures/rx_master.pdf
document/figures/sample_w_16.pdf
document/figures/symb.pdf
document/ug/UART.fit.summary
document/ug/alt_results.tex
document/ug/bd_tab.tex
document/ug/cpu_axi4_m_is_tab.tex
document/ug/cpu_axi4lite_s_is_tab.tex
document/ug/cpu_nat_s_is_tab.tex
document/ug/gen_is_tab.tex
document/ug/rx_is_tab.tex
document/ug/sp_tab.tex
document/ug/sw_rxdmareg_tab.tex
document/ug/sw_rxfiforeg_tab.tex
document/ug/sw_rxreg_tab.tex
document/ug/sw_txdmareg_tab.tex
document/ug/sw_txfiforeg_tab.tex
document/ug/sw_txreg_tab.tex
document/ug/tx_is_tab.tex
document/ug/ug.aux
document/ug/ug.lof
document/ug/ug.log
document/ug/ug.lot
document/ug/ug.out
document/ug/ug.toc
document/ug/vivado.log
document/ug/xil_results.tex
hardware/include/export.vh
document/ug/shortHash.txt
document/ug/version.txt
document/figures/Logo.png
document/ug/quartus.log
hardware/simulation/icarus/a.out
hardware/simulation/icarus/uart.vcd
hardware/simulation/icarus/sw_reg_w.vh
hardware/simulation/icarus/tmp
hardware/simulation/ncsim/tmp
document/pb/alt_results.tex
document/pb/xil_results.tex
document/ug/alt_results.tex
document/ug/xil_results.tex
hardware/fpga/quartus/CYCLONEV-GT/
hardware/fpga/vivado/XCKU/
