#TOP
#nothing to ignore

#SOFTWARE
software/periphs.h

software/*/*
!software/*/Makefile
!software/*/*.expected
!software/*/*.py

!software/bootloader/boot.c
!software/bootloader/boot.S

!software/firmware/firmware.c
!software/firmware/firmware.S

!software/console/console

#HARDWARE
#sources
hardware/src/system.v
hardware/testbench/system_tb.v

#simulation
hardware/simulation/*/*
!hardware/simulation/verilog_tb
!hardware/simulation/simulation.mk
!hardware/simulation/*/Makefile
!hardware/simulation/*/*.expected
!hardware/simulation/*/*.sh
!hardware/simulation/verilator/*.cpp

#fpga
hardware/fpga/*/*/*
!hardware/fpga/fpga.mk
!hardware/fpga/*/*/Makefile
!hardware/fpga/*/*/*.tcl
!hardware/fpga/*/*/*.expected
!hardware/fpga/*/*/verilog
!hardware/fpga/*/*/doc
!hardware/fpga/vivado/*/*.xdc
!hardware/fpga/quartus/*/*.sdc
!hardware/fpga/quartus/*/qsys

#DOCUMENT
document/*/*
!document/*/Makefile
!document/*/*.expected
!document/*/*.pdf
!document/presentation/presentation.tex
