[submodule "submodules/UART"]
	path = submodules/UART
	url = git@github.com:IObundle/iob-uart.git
[submodule "submodules/CPU"]
	path = submodules/CPU
	url = git@github.com:IObundle/iob-picorv32.git
[submodule "submodules/CACHE"]
	path = submodules/CACHE
	url = git@github.com:IObundle/iob-cache.git
[submodule "submodules/TIMER"]
	path = submodules/TIMER
	url = git@github.com:IObundle/iob-timer.git
