test_report.log

# generated verilog files
hardware/src/system.v
hardware/testbench/system_tb.v

# following lines ignore everything 'make' command produces
hardware/simulation/*/*

!hardware/simulation/*/Makefile
!hardware/simulation/*/test.expected

hardware/simulation/xcelium/*
!hardware/simulation/xcelium/run_xmsim.sh


software/periphs.h

software/pc-emul/periphs.h
software/pc-emul/firmware.out

software/bootloader/*
!software/bootloader/boot.c
!software/bootloader/boot.S
!software/bootloader/Makefile

software/firmware/*
!software/firmware/firmware.c
!software/firmware/firmware.S
!software/firmware/Makefile

software/console/*
!software/console/console.c
!software/console/console.h
!software/console/rs232comm.c
!software/console/socketcomm.c
!software/console/Makefile

document/presentation/*
!document/presentation/figures
!document/presentation/presentation.bib
!document/presentation/presentation.pdf
!document/presentation/presentation.tex
!document/presentation/presentation.expected
!document/presentation/Makefile
document/pb/xil_results.tex
document/pb/alt_results.tex

hardware/fpga/*/CYCLONEV-GT-DK/boot.hex
hardware/fpga/*/CYCLONEV-GT-DK/firmware.hex
hardware/fpga/*/CYCLONEV-GT-DK/firmware_0.hex
hardware/fpga/*/CYCLONEV-GT-DK/firmware_1.hex
hardware/fpga/*/CYCLONEV-GT-DK/firmware_2.hex
hardware/fpga/*/CYCLONEV-GT-DK/firmware_3.hex
hardware/fpga/*/CYCLONEV-GT-DK/system.v
hardware/fpga/*/CYCLONEV-GT-DK/top_system.sof
hardware/fpga/*/CYCLONEV-GT-DK/top_system.fit.summary
hardware/fpga/*/CYCLONEV-GT-DK/c5_pin_model_dump.txt
hardware/fpga/*/CYCLONEV-GT-DK/db/
hardware/fpga/*/CYCLONEV-GT-DK/firmware.bin
hardware/fpga/*/CYCLONEV-GT-DK/incremental_db/
hardware/fpga/*/CYCLONEV-GT-DK/*.log
hardware/fpga/*/CYCLONEV-GT-DK/output_files/
hardware/fpga/*/CYCLONEV-GT-DK/top_system.qpf
hardware/fpga/*/CYCLONEV-GT-DK/top_system.qsf
hardware/fpga/*/CYCLONEV-GT-DK/synth_system.sof


hardware/fpga/*/DE10-LITE/boot.hex
hardware/fpga/*/DE10-LITE/firmware.hex
hardware/fpga/*/DE10-LITE/firmware_0.hex
hardware/fpga/*/DE10-LITE/firmware_1.hex
hardware/fpga/*/DE10-LITE/firmware_2.hex
hardware/fpga/*/DE10-LITE/firmware_3.hex
hardware/fpga/*/DE10-LITE/system.v
hardware/fpga/*/DE10-LITE/top_system.sof
hardware/fpga/*/DE10-LITE/top_system.fit.summary

hardware/fpga/*/AES-KU040-DB-G/boot.hex
hardware/fpga/*/AES-KU040-DB-G/firmware.hex
hardware/fpga/*/AES-KU040-DB-G/firmware_0.hex
hardware/fpga/*/AES-KU040-DB-G/firmware_1.hex
hardware/fpga/*/AES-KU040-DB-G/firmware_2.hex
hardware/fpga/*/AES-KU040-DB-G/firmware_3.hex
hardware/fpga/*/AES-KU040-DB-G/system.v
hardware/fpga/*/AES-KU040-DB-G/.Xil/
hardware/fpga/*/AES-KU040-DB-G/firmware.bin
hardware/fpga/*/AES-KU040-DB-G/synth_system.v
hardware/fpga/*/AES-KU040-DB-G/ip
hardware/fpga/*/AES-KU040-DB-G/*.log
hardware/fpga/*/AES-KU040-DB-G/synth_system.bit

hardware/asic/umc130/synth/*_report.txt
