NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clkin" = PERIOD "clk" 20 ns HIGH 50 %;
NET "clk"  LOC = "AB13";
NET "reset"  LOC = "H8";

#trap led
NET "trap"  LOC = "D17";

#uart
NET "uart_txd"  LOC = "H17";
NET "uart_rxd"  LOC = "B21";
NET "uart_rts_n"  LOC = "F18";
NET "uart_cts_n"  LOC = "F19";

