[Unit]
Description=board server service
After=network.target
StartLimitIntervalSec=0[Service]

[Service]
Type=simple
Restart=always
RestartSec=10s
ExecStart=/usr/local/bin/board_server.py

[Install]
WantedBy=multi-user.target
